:root {
	--primary: #e66b19;
	--secoundary: #a5a5a5;
	--accent: #0879e2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--primary);
	font-family: Aria, Helvetica, sans-serif;
}

header {
	background-color: #000;
	padding: 15px 40px;
}

a {
	text-decoration: none;
	color: var(--accent);
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.header-nav {
	gap: 20px;
	display: flex;
	align-items: center;
}

.header-nav a {
	color: white;
	text-decoration: none;
}

.logout {
	color: white;
	text-decoration: none;
	font-size: medium;
	background-color: var(--accent);
	padding: 10px;
}

main {
	height: 100vh;
	background-color: #fff;
	padding: 15px;
}
.login-container,
.register-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	gap: 40px;
}

.login-container form input,
.register-container form input,
.register-container form .gender-select {
	margin: 0 auto;
	padding: 20px;
	background-color: var(--secoundary);
	border-radius: 10px;
	font-size: 18px;
	min-width: 80%;
	border: none;
	color: #fff;
}
::placeholder {
	color: #fff;
}
.login-container form,
.register-container form {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	width: 40%;
	padding: 20px;
	min-height: 400px;
}

.title {
	color: #fff;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}
.page-title {
	background-color: var(--primary);
	color: white;
	padding: 25px 40px;
	text-align: center;
	height: 80px;
	display: flex;
	font-size: 32px;
	align-items: center;
	justify-content: center;
}
.subtitle {
	color: #000;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.cta {
	background-color: black;
	color: white;
	padding: 10px 30px;
	border-radius: 10px;
	font-size: x-large;
	margin: 0 auto;
	border: none;
}

.find-event-container {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 400px;
	padding: 40px;
}
.find-event-container form {
	display: flex;
	flex-direction: column;
	max-width: 450px;
}
.find-event-container input,
.find-event-container select {
	font-size: 16px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	background-color: #e6e6e6;
}
.find-event-container .cta {
	margin: 10px;
}

.event-card {
	display: flex;
	flex-direction: column;
	border: solid 1px var(--accent);
	border-radius: 50px;
	padding: 30px;
	gap: 20px;
	width: 350px;
}

.event-card p {
	color: var(--accent);
}
.event-card .primary-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.event-card .secondary-info {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.event-card .price {
	font-size: 28px;
	font-weight: bold;
}

.event-card .cta {
	position: relative;
	left: 80px;
	background-color: var(--primary);
	color: white;
	padding: 10px 15px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	margin-top: 10px;
}
.booking-view {
	height: 100vh;
	display: flex;
	justify-content: center;
	gap: 100px;
}

.event-and-options {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: space-evenly;
	height: 100vh;
}

.options-form form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 400px;
}

.options-form .cta {
	background-color: var(--primary);
	color: white;
	padding: 10px 15px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	margin-top: 10px;
}

.client-infos {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 400px;
}

table {
	width: 80%;
	border-collapse: collapse;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 50px;
}
tr {
	min-width: 90%;
}
th {
	color: rgb(91, 155, 213);
}
th,
td {
	border: 1px solid;
	padding: 12px !important;
	text-align: left;
}
