
:root {
    --primary : #ed7d32;
    --Secundary : #a6a6a6;


}

*{
    margin: 0;
    padding: 0;
}



body {
    background: var(--primary);    
    height: auto;
    font-family:Aria, Helvetica, sans-serif;
    font-size:xx-large;
    display: flex;
    flex-direction: column;
    height: 100vh;
    

}

main {
    height: 100vh;
}

h1 {
    color: white;
    

}

section {
    display: flex;
    flex-direction: column;
    gap: 100px;
    

}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 80px 80px 20px 80px  ;
    width: fit-content;



}

input {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background-color: var(--Secundary);
    border-radius: 10px;
    font-size: x-large;
    border: none;
    
}

select {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background-color: var(--Secundary);
    border-radius: 10px;
    font-size: x-large;
    border: none;
    color: rgb(255, 255, 255);
}    

::placeholder {
    color: rgb(255, 255, 255);
    
}

button {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: x-large;
    margin: 0 auto;
    border: none;

}

p {
    font-size:small;
    text-align: center;
}

h2 {
    font-size:large;
    text-align: center;
    margin-bottom: 30px;


}

a {
    text-decoration:underline;
    color: rgb(24, 156, 232);
}

.bodyListe {
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;

    
}


.container {
    display: flex;
    background-color: black;
    padding: 10px;
    align-items: center;
    gap: 100px;



}

nav {
    display: flex;
    flex-grow: 0.5;
    align-items: center;
    justify-content: space-between;

}

nav a {
    color: white;
    text-decoration: none;
    font-size: medium;

}

.user {
    flex-grow: 2;
    color: white;
    font-size: medium;
    text-align: start;
    align-items: center;



}

.lienConnexion {
    color: white;
    text-decoration: none;
    font-size: medium;
    background-color: rgb(8, 164, 226);
    padding: 10px;


}
.titre {
    background-color: var(--primary);
    padding: 20px 0;

}

.ville {
    text-align: start;
    padding: 5px 50px;
    font-weight: bold;
}

.container1 {
    display: flex;
    justify-content: flex-start;
    margin: 0 20px;
}

.carte {
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(8, 121, 226);
    border-radius: 50px;
    padding: 15px 40px;
    gap: 10px;
    width: 280px;

}

.titreCarte, .prix, .date, .catégorie {
    text-align: start;

}

.titreCarte, .prix {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 10px 0;

}


.prix, .catégorie, .date {
    color: rgb(8, 121, 226);
    
}

.réserver {
    font-size: small;
    background-color: #ed7d32;
    padding: 10px 20px;
    border-radius: 7px;
    margin: 0;
}

.boutonRéserver {
    display: flex;
    justify-content: flex-end;

    
}

footer {
    height: 100px;
    background-color: var(--primary);
}

.container2 {
    display: flex;
    justify-content: flex-start;
    margin: 40px 20px;
    flex-direction: row;
    width: 100%;
    gap: 400px;
    
}

.infos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 40px;
    gap: 10px;
    width: 280px;

}

.infosClient {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 10px 0;

}

.options {
    display: flex;
    justify-content: flex-start;
}







